[submodule "doxygen-awesome-css"]
	path = tools/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git

[submodule "fmt"]
    path = vendor/fmt
    url = https://github.com/fmtlib/fmt.git

[submodule "bgfx"]
    path = vendor/bgfx
    url = https://github.com/bkaradzic/bgfx.git

[submodule "bimg"]
    path = vendor/bimg
    url = https://github.com/bkaradzic/bimg.git

[submodule "bx"]
    path = vendor/bx
    url = https://github.com/bkaradzic/bx.git

[submodule "glfw3"]
    path = vendor/glfw3
    url = https://github.com/glfw/glfw.git

[submodule "sfml"]
    path = vendor/sfml
    url = https://github.com/SFML/SFML.git

[submodule "spdlog"]
    path = vendor/spdlog
    url = https://github.com/gabime/spdlog.git
